/manit/photos_no_class/*
*/__pycache__/
.vscode/
geminitest/.env
geminitest/venv
archive/
damage-det/model_final.pth
FraudDetection/model_final.pth
.env
*.pth
damage-det/*.pth
FraudDetection/venv
FraudDetection/fraud_detection_data