*/__pycache__/
.vscode/
.env
*.pth
damage-det/*.pth
FraudDetection/venv
FraudDetection/fraud_detection_data
FraudDetection/test_damage_output/
FraudDetection/combined_analysis_output/
fraud_detection_data/